.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;

  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; // in wrapper class we have 2 chield calss tha (Search & Itme) using space between to Separate them

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;

      input {
        border: none;
        outline: none;
        background: transparent; // When we Swithc Mode to Dark we did not cuse any Problem

        &::placeholder {
          // to setting place holder in Css
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center; //Verticaly move to Center |
        margin-right: 20px;
        position: relative; // parent

        .icon {
          font-size: 20px;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute; //when the Chield position = absolute then the paret position should = relative .
          top: -5px; // Bo away Zhmary notification bkaweta Sar Iconakan.
          right: -5px;
        }
      }
    }
  }
}
