.app.dark {
  background-color: #111;
  color: rgb(224, 219, 219);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: rgb(250, 247, 247);
    }
  }

  .navbar {
    color: #e7e2e2;
    border-color: #333;

    .search {
      border-color: rgb(237, 231, 231);
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #626161;

    .top {
      .logo {
        color: #75f024;
      }
    }
    hr {
      border-color: #333;
    }
    .title {
      color: rgb(246, 246, 250);
    }
    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #b9fc10;
        }
      }
      span {
        color: rgb(191, 255, 0);
      }
    }
    .active {
      background-color: rgb(70, 65, 65);
      width: 100%;
      height: 2rem;
      border-radius: 0.2rem;
    }
  }

  .datatable {
    .datagrid {
      color: rgb(214, 204, 204);
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: rgb(207, 207, 46);
        border: none;
      }
    }
  }

  input {
    background-color: transparent;
  }
  .title {
    color: rgb(218, 213, 213);
  }
  .counter {
    color: #75f024;
  }

  .featured {
    .desc {
      color: rgb(255, 251, 251);
    }
    .summary {
      .itemTitle {
        color: rgb(231, 231, 231);
      }
    }
  }
  .single {
    .singleContainer {
      .top {
        .left {
          .editButton {
            color: rgb(236, 236, 149);
          }
          .details {
            .itemTitle {
              color: rgb(236, 236, 149);
            }
            .itemKey {
              color: white;
            }
            .itemValue {
              color: rgb(236, 225, 225);
            }
          }
        }
      }
    }
  }
  .datatable {
    .datatableTitle {
      color: rgb(233, 218, 218);
    }
    .link {
      color: rgb(233, 218, 218);
      border-color: rgb(233, 218, 218);
    }
  }
}
