.app.dark {
  background-color: #111;
  color: white;

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: rgb(250, 247, 247);
    }
  }

  .navbar {
    color: #e7e2e2;
    border-color: #333;

    .search {
      border-color: rgb(237, 231, 231);
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #626161;

    .top {
      .logo {
        color: #75f024;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #b9fc10;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: rgb(214, 204, 204);
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: rgb(207, 207, 46);
        border: none;
      }
    }
  }

  input {
    background-color: transparent;
  }
}
